<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
  </head>
  <script src="http://code.jquery.com/jquery-1.7.1.js"></script>
  <script src="http://documentcloud.github.com/underscore/underscore.js"></script>
  <script src="{{ STATIC_URL }}lib/d3/d3.js"></script>
  <script src="{{ STATIC_URL }}linechart.js"></script>
  <script src="{{ STATIC_URL }}app.js"></script>
  {% block head %}{% endblock %}
  <body>{% block body %}{% endblock %}</body>
</html>
